.dark {
  /* Normal contrast */
  --md-sys-color-primary: rgb(145 206 245);
  --md-sys-color-surface-tint: rgb(145 206 245);
  --md-sys-color-on-primary: rgb(0 52 75);
  --md-sys-color-primary-container: rgb(0 76 107);
  --md-sys-color-on-primary-container: rgb(197 231 255);
  --md-sys-color-secondary: rgb(182 201 216);
  --md-sys-color-on-secondary: rgb(32 51 62);
  --md-sys-color-secondary-container: rgb(55 73 85);
  --md-sys-color-on-secondary-container: rgb(210 229 244);
  --md-sys-color-tertiary: rgb(203 193 233);
  --md-sys-color-on-tertiary: rgb(51 44 76);
  --md-sys-color-tertiary-container: rgb(74 66 99);
  --md-sys-color-on-tertiary-container: rgb(231 222 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(223 227 231);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(193 199 206);
  --md-sys-color-outline: rgb(139 146 151);
  --md-sys-color-outline-variant: rgb(65 72 77);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(44 49 52);
  --md-sys-color-inverse-primary: rgb(31 101 135);
  --md-sys-color-primary-fixed: rgb(197 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 45);
  --md-sys-color-primary-fixed-dim: rgb(145 206 245);
  --md-sys-color-on-primary-fixed-variant: rgb(0 76 107);
  --md-sys-color-secondary-fixed: rgb(210 229 244);
  --md-sys-color-on-secondary-fixed: rgb(10 30 40);
  --md-sys-color-secondary-fixed-dim: rgb(182 201 216);
  --md-sys-color-on-secondary-fixed-variant: rgb(55 73 85);
  --md-sys-color-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(30 23 53);
  --md-sys-color-tertiary-fixed-dim: rgb(203 193 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 66 99);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(53 58 61);
  --md-sys-color-surface-container-lowest: rgb(10 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 31);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(38 43 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);

  /* Medium contrast */
  --md-sys-color-mc-primary: rgb(149 210 249);
  --md-sys-color-mc-surface-tint: rgb(145 206 245);
  --md-sys-color-mc-on-primary: rgb(0 25 38);
  --md-sys-color-mc-primary-container: rgb(90 152 188);
  --md-sys-color-mc-on-primary-container: rgb(0 0 0);
  --md-sys-color-mc-secondary: rgb(186 205 220);
  --md-sys-color-mc-on-secondary: rgb(5 24 35);
  --md-sys-color-mc-secondary-container: rgb(128 147 161);
  --md-sys-color-mc-on-secondary-container: rgb(0 0 0);
  --md-sys-color-mc-tertiary: rgb(208 197 238);
  --md-sys-color-mc-on-tertiary: rgb(24 17 48);
  --md-sys-color-mc-tertiary-container: rgb(149 139 177);
  --md-sys-color-mc-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-mc-error: rgb(255 186 177);
  --md-sys-color-mc-on-error: rgb(55 0 1);
  --md-sys-color-mc-error-container: rgb(255 84 73);
  --md-sys-color-mc-on-error-container: rgb(0 0 0);
  --md-sys-color-mc-background: rgb(15 20 23);
  --md-sys-color-mc-on-background: rgb(223 227 231);
  --md-sys-color-mc-surface: rgb(15 20 23);
  --md-sys-color-mc-on-surface: rgb(248 251 255);
  --md-sys-color-mc-surface-variant: rgb(65 72 77);
  --md-sys-color-mc-on-surface-variant: rgb(197 203 210);
  --md-sys-color-mc-outline: rgb(157 164 170);
  --md-sys-color-mc-outline-variant: rgb(125 132 138);
  --md-sys-color-mc-shadow: rgb(0 0 0);
  --md-sys-color-mc-scrim: rgb(0 0 0);
  --md-sys-color-mc-inverse-surface: rgb(223 227 231);
  --md-sys-color-mc-inverse-on-surface: rgb(38 43 46);
  --md-sys-color-mc-inverse-primary: rgb(0 77 108);
  --md-sys-color-mc-primary-fixed: rgb(197 231 255);
  --md-sys-color-mc-on-primary-fixed: rgb(0 19 30);
  --md-sys-color-mc-primary-fixed-dim: rgb(145 206 245);
  --md-sys-color-mc-on-primary-fixed-variant: rgb(0 58 83);
  --md-sys-color-mc-secondary-fixed: rgb(210 229 244);
  --md-sys-color-mc-on-secondary-fixed: rgb(1 19 30);
  --md-sys-color-mc-secondary-fixed-dim: rgb(182 201 216);
  --md-sys-color-mc-on-secondary-fixed-variant: rgb(38 56 68);
  --md-sys-color-mc-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-mc-on-tertiary-fixed: rgb(19 12 42);
  --md-sys-color-mc-tertiary-fixed-dim: rgb(203 193 233);
  --md-sys-color-mc-on-tertiary-fixed-variant: rgb(57 49 82);
  --md-sys-color-mc-surface-dim: rgb(15 20 23);
  --md-sys-color-mc-surface-bright: rgb(53 58 61);
  --md-sys-color-mc-surface-container-lowest: rgb(10 15 18);
  --md-sys-color-mc-surface-container-low: rgb(24 28 31);
  --md-sys-color-mc-surface-container: rgb(28 32 36);
  --md-sys-color-mc-surface-container-high: rgb(38 43 46);
  --md-sys-color-mc-surface-container-highest: rgb(49 53 57);

  /* High contrast */
  --md-sys-color-hc-primary: rgb(248 251 255);
  --md-sys-color-hc-surface-tint: rgb(145 206 245);
  --md-sys-color-hc-on-primary: rgb(0 0 0);
  --md-sys-color-hc-primary-container: rgb(149 210 249);
  --md-sys-color-hc-on-primary-container: rgb(0 0 0);
  --md-sys-color-hc-secondary: rgb(248 251 255);
  --md-sys-color-hc-on-secondary: rgb(0 0 0);
  --md-sys-color-hc-secondary-container: rgb(186 205 220);
  --md-sys-color-hc-on-secondary-container: rgb(0 0 0);
  --md-sys-color-hc-tertiary: rgb(254 249 255);
  --md-sys-color-hc-on-tertiary: rgb(0 0 0);
  --md-sys-color-hc-tertiary-container: rgb(208 197 238);
  --md-sys-color-hc-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-hc-error: rgb(255 249 249);
  --md-sys-color-hc-on-error: rgb(0 0 0);
  --md-sys-color-hc-error-container: rgb(255 186 177);
  --md-sys-color-hc-on-error-container: rgb(0 0 0);
  --md-sys-color-hc-background: rgb(15 20 23);
  --md-sys-color-hc-on-background: rgb(223 227 231);
  --md-sys-color-hc-surface: rgb(15 20 23);
  --md-sys-color-hc-on-surface: rgb(255 255 255);
  --md-sys-color-hc-surface-variant: rgb(65 72 77);
  --md-sys-color-hc-on-surface-variant: rgb(248 251 255);
  --md-sys-color-hc-outline: rgb(197 203 210);
  --md-sys-color-hc-outline-variant: rgb(197 203 210);
  --md-sys-color-hc-shadow: rgb(0 0 0);
  --md-sys-color-hc-scrim: rgb(0 0 0);
  --md-sys-color-hc-inverse-surface: rgb(223 227 231);
  --md-sys-color-hc-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-hc-inverse-primary: rgb(0 46 66);
  --md-sys-color-hc-primary-fixed: rgb(207 235 255);
  --md-sys-color-hc-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-hc-primary-fixed-dim: rgb(149 210 249);
  --md-sys-color-hc-on-primary-fixed-variant: rgb(0 25 38);
  --md-sys-color-hc-secondary-fixed: rgb(214 233 249);
  --md-sys-color-hc-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-hc-secondary-fixed-dim: rgb(186 205 220);
  --md-sys-color-hc-on-secondary-fixed-variant: rgb(5 24 35);
  --md-sys-color-hc-tertiary-fixed: rgb(236 227 255);
  --md-sys-color-hc-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-hc-tertiary-fixed-dim: rgb(208 197 238);
  --md-sys-color-hc-on-tertiary-fixed-variant: rgb(24 17 48);
  --md-sys-color-hc-surface-dim: rgb(15 20 23);
  --md-sys-color-hc-surface-bright: rgb(53 58 61);
  --md-sys-color-hc-surface-container-lowest: rgb(10 15 18);
  --md-sys-color-hc-surface-container-low: rgb(24 28 31);
  --md-sys-color-hc-surface-container: rgb(28 32 36);
  --md-sys-color-hc-surface-container-high: rgb(38 43 46);
  --md-sys-color-hc-surface-container-highest: rgb(49 53 57);
}
