.dark-high-contrast {
  --md-sys-color-primary: rgb(248 251 255);
  --md-sys-color-surface-tint: rgb(145 206 245);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(149 210 249);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(248 251 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(186 205 220);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(254 249 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(208 197 238);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(248 251 255);
  --md-sys-color-outline: rgb(197 203 210);
  --md-sys-color-outline-variant: rgb(197 203 210);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 46 66);
  --md-sys-color-primary-fixed: rgb(207 235 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(149 210 249);
  --md-sys-color-on-primary-fixed-variant: rgb(0 25 38);
  --md-sys-color-secondary-fixed: rgb(214 233 249);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(186 205 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(5 24 35);
  --md-sys-color-tertiary-fixed: rgb(236 227 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(208 197 238);
  --md-sys-color-on-tertiary-fixed-variant: rgb(24 17 48);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(53 58 61);
  --md-sys-color-surface-container-lowest: rgb(10 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 31);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(38 43 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}
