.light {
  /* Normal contrast */
  --md-sys-color-primary: rgb(31 101 135);
  --md-sys-color-surface-tint: rgb(31 101 135);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(197 231 255);
  --md-sys-color-on-primary-container: rgb(0 30 45);
  --md-sys-color-secondary: rgb(79 97 109);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(210 229 244);
  --md-sys-color-on-secondary-container: rgb(10 30 40);
  --md-sys-color-tertiary: rgb(98 89 124);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(231 222 255);
  --md-sys-color-on-tertiary-container: rgb(30 23 53);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(246 250 254);
  --md-sys-color-on-background: rgb(24 28 31);
  --md-sys-color-surface: rgb(246 250 254);
  --md-sys-color-on-surface: rgb(24 28 31);
  --md-sys-color-surface-variant: rgb(221 227 234);
  --md-sys-color-on-surface-variant: rgb(65 72 77);
  --md-sys-color-outline: rgb(113 120 126);
  --md-sys-color-outline-variant: rgb(193 199 206);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 52);
  --md-sys-color-inverse-on-surface: rgb(238 241 246);
  --md-sys-color-inverse-primary: rgb(145 206 245);
  --md-sys-color-primary-fixed: rgb(197 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 45);
  --md-sys-color-primary-fixed-dim: rgb(145 206 245);
  --md-sys-color-on-primary-fixed-variant: rgb(0 76 107);
  --md-sys-color-secondary-fixed: rgb(210 229 244);
  --md-sys-color-on-secondary-fixed: rgb(10 30 40);
  --md-sys-color-secondary-fixed-dim: rgb(182 201 216);
  --md-sys-color-on-secondary-fixed-variant: rgb(55 73 85);
  --md-sys-color-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(30 23 53);
  --md-sys-color-tertiary-fixed-dim: rgb(203 193 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 66 99);
  --md-sys-color-surface-dim: rgb(215 218 223);
  --md-sys-color-surface-bright: rgb(246 250 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 244 248);
  --md-sys-color-surface-container: rgb(235 238 243);
  --md-sys-color-surface-container-high: rgb(229 232 237);
  --md-sys-color-surface-container-highest: rgb(223 227 231);

  /* Medium contrast */
  --md-sys-color-mc-primary: rgb(0 72 101);
  --md-sys-color-mc-surface-tint: rgb(31 101 135);
  --md-sys-color-mc-on-primary: rgb(255 255 255);
  --md-sys-color-mc-primary-container: rgb(59 123 158);
  --md-sys-color-mc-on-primary-container: rgb(255 255 255);
  --md-sys-color-mc-secondary: rgb(51 69 81);
  --md-sys-color-mc-on-secondary: rgb(255 255 255);
  --md-sys-color-mc-secondary-container: rgb(101 119 132);
  --md-sys-color-mc-on-secondary-container: rgb(255 255 255);
  --md-sys-color-mc-tertiary: rgb(70 62 95);
  --md-sys-color-mc-on-tertiary: rgb(255 255 255);
  --md-sys-color-mc-tertiary-container: rgb(120 111 148);
  --md-sys-color-mc-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-mc-error: rgb(140 0 9);
  --md-sys-color-mc-on-error: rgb(255 255 255);
  --md-sys-color-mc-error-container: rgb(218 52 46);
  --md-sys-color-mc-on-error-container: rgb(255 255 255);
  --md-sys-color-mc-background: rgb(246 250 254);
  --md-sys-color-mc-on-background: rgb(24 28 31);
  --md-sys-color-mc-surface: rgb(246 250 254);
  --md-sys-color-mc-on-surface: rgb(24 28 31);
  --md-sys-color-mc-surface-variant: rgb(221 227 234);
  --md-sys-color-mc-on-surface-variant: rgb(61 68 73);
  --md-sys-color-mc-outline: rgb(89 96 101);
  --md-sys-color-mc-outline-variant: rgb(117 124 129);
  --md-sys-color-mc-shadow: rgb(0 0 0);
  --md-sys-color-mc-scrim: rgb(0 0 0);
  --md-sys-color-mc-inverse-surface: rgb(44 49 52);
  --md-sys-color-mc-inverse-on-surface: rgb(238 241 246);
  --md-sys-color-mc-inverse-primary: rgb(145 206 245);
  --md-sys-color-mc-primary-fixed: rgb(59 123 158);
  --md-sys-color-mc-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-mc-primary-fixed-dim: rgb(28 98 132);
  --md-sys-color-mc-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-mc-secondary-fixed: rgb(101 119 132);
  --md-sys-color-mc-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-mc-secondary-fixed-dim: rgb(76 94 107);
  --md-sys-color-mc-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-mc-tertiary-fixed: rgb(120 111 148);
  --md-sys-color-mc-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-mc-tertiary-fixed-dim: rgb(95 87 122);
  --md-sys-color-mc-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-mc-surface-dim: rgb(215 218 223);
  --md-sys-color-mc-surface-bright: rgb(246 250 254);
  --md-sys-color-mc-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-mc-surface-container-low: rgb(240 244 248);
  --md-sys-color-mc-surface-container: rgb(235 238 243);
  --md-sys-color-mc-surface-container-high: rgb(229 232 237);
  --md-sys-color-mc-surface-container-highest: rgb(223 227 231);

  /* High contrast */
  --md-sys-color-hc-primary: rgb(0 37 55);
  --md-sys-color-hc-surface-tint: rgb(31 101 135);
  --md-sys-color-hc-on-primary: rgb(255 255 255);
  --md-sys-color-hc-primary-container: rgb(0 72 101);
  --md-sys-color-hc-on-primary-container: rgb(255 255 255);
  --md-sys-color-hc-secondary: rgb(18 36 47);
  --md-sys-color-hc-on-secondary: rgb(255 255 255);
  --md-sys-color-hc-secondary-container: rgb(51 69 81);
  --md-sys-color-hc-on-secondary-container: rgb(255 255 255);
  --md-sys-color-hc-tertiary: rgb(36 29 60);
  --md-sys-color-hc-on-tertiary: rgb(255 255 255);
  --md-sys-color-hc-tertiary-container: rgb(70 62 95);
  --md-sys-color-hc-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-hc-error: rgb(78 0 2);
  --md-sys-color-hc-on-error: rgb(255 255 255);
  --md-sys-color-hc-error-container: rgb(140 0 9);
  --md-sys-color-hc-on-error-container: rgb(255 255 255);
  --md-sys-color-hc-background: rgb(246 250 254);
  --md-sys-color-hc-on-background: rgb(24 28 31);
  --md-sys-color-hc-surface: rgb(246 250 254);
  --md-sys-color-hc-on-surface: rgb(0 0 0);
  --md-sys-color-hc-surface-variant: rgb(221 227 234);
  --md-sys-color-hc-on-surface-variant: rgb(30 37 42);
  --md-sys-color-hc-outline: rgb(61 68 73);
  --md-sys-color-hc-outline-variant: rgb(61 68 73);
  --md-sys-color-hc-shadow: rgb(0 0 0);
  --md-sys-color-hc-scrim: rgb(0 0 0);
  --md-sys-color-hc-inverse-surface: rgb(44 49 52);
  --md-sys-color-hc-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-hc-inverse-primary: rgb(218 239 255);
  --md-sys-color-hc-primary-fixed: rgb(0 72 101);
  --md-sys-color-hc-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-hc-primary-fixed-dim: rgb(0 48 69);
  --md-sys-color-hc-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-hc-secondary-fixed: rgb(51 69 81);
  --md-sys-color-hc-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-hc-secondary-fixed-dim: rgb(29 47 58);
  --md-sys-color-hc-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-hc-tertiary-fixed: rgb(70 62 95);
  --md-sys-color-hc-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-hc-tertiary-fixed-dim: rgb(47 40 72);
  --md-sys-color-hc-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-hc-surface-dim: rgb(215 218 223);
  --md-sys-color-hc-surface-bright: rgb(246 250 254);
  --md-sys-color-hc-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-hc-surface-container-low: rgb(240 244 248);
  --md-sys-color-hc-surface-container: rgb(235 238 243);
  --md-sys-color-hc-surface-container-high: rgb(229 232 237);
  --md-sys-color-hc-surface-container-highest: rgb(223 227 231);
}
